/*.log
/target
/*-init.clj
/resources/public/js/compiled
out
.idea
*.iml
*.jar
*.log
.nrepl-*
.lein-*
pom.xml
pom.xml.asc
core/
out/
target/
compiled*/
misc/
*.swo
*.swp
.DS_Store
/node_modules
resources/public/cljs-out
figwheel-main.log.lck
profiles.clj
/.cljs_node_repl
package-lock.json
sentry_release.sh
